.csconfig/
_configuration.mk

**/__pycache__/
*.pyc
venv

bin/
logs/

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen

.vscode

SPEC_quick
log
figures
results
